<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="/assets/index.css" rel="stylesheet" type="text/css" />
    <title>Most Awesome Page in the World!</title>
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Profile successfully deleted!</h1>
    <p><%= data %> has been deleted!</p>
    <div class="nav-block"><a href="/members"> Return to Members </a></div>
</body>
</html>