<nav>
    <div id="nav-bar">
        <div class="nav-block"><a href="/"> Home </a></div>
        <div class="nav-block"><a href="/register"> Register </a></div>
        <div class="nav-block"><a href="/members"> Members </a></div>
    </div>
</nav>